.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: center;
  padding-top: 8%;
}

.about-me {
  text-align: center;
}

.about-me img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
