.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 90%;
}

.header {
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.infoColumn {
  width: 60%;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkColumn {
  width: 30%;
  align-items: center;
}

.list {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list li a:hover {
  text-decoration: underline;
}

.list li {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.list li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.list li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.memberImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.backButtonContainer {
  text-align: right;
  padding: 10px;
}

.backButton {
  text-decoration: none;
  color: #000;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 20px;
  display: inline-block;
}

.backButton:hover {
  background-color: #e0e0e0;
}
