.header {
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
