.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 7.5%;
  width: 33.33%;
  height: 90%;
}

.page-layout {
  display: flex;
  height: 100vh;
}

.right-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: lightblue;
}

.left-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: lightgray;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10%;
  width: 33.33%;
  margin-top: -60px;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0.9);
}

.login-title {
  margin: 32px 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.forgot-password,
.signup-prompt {
  text-align: center;
  margin: 16px 0;
}
