.classes-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100vh;
  padding-left: 20%;
  padding-top: 5%;
  float: left;
  background-color: lightgrey;
  border-style: solid;
  border-color: darkgrey;
}

.bigouterbox {
  display: inline-flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  height: 90vh;
  width: 200vh;
  padding-left: 15%;
  padding-top: 3.5%;
  float: left;
  background-color: lightgrey;
}

.border {
  background-color: lightgrey;
}

.borderPosts {
  background-color: grey;
  border-style: solid;
  border-color: lightgrey;
}

.QAbox {
  background-color: white;
  height: 100%;
  width: 65vh;
  float: left;
  border-style: solid;
}

/* .postingInfo {
  background-color: lightgrey;
  height: 100%;
  width: 48%;
  float: right;
} */
.postingInfo {
  display: block;
  flex-direction: column;
  align-items: left;
  
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: black;
  background-color: lightgray;
  height: 100%;
  width: 95%;
  overflow-y: scroll;
}

.course-id-input,
.join-course-button,
.create-course-button {
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.postButton {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  float: right;
  background-color: #115293;
}

.replyButton {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  float: left;
  background-color: #115293;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5; /* light grey background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.TextField {
  margin-bottom: 20px !important; /* Important to override Material-UI styles */
}

.submit-button {
  margin-top: 20px;
  background-color: #1976d2; /* Material-UI primary blue */
  color: white;
  padding: 10px 15px;
}

.submit-button:hover {
  background-color: #115293;
}

.replyBox {
  display: block;
  flex-direction: column;
  align-items: left;
  padding-left: 5%;
  padding-bottom: 5%;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: black;
  background-color: whitesmoke;
  height: 35%;
  width: 95%;
  overflow-y: scroll;
  
}

.questionBox {
  padding-left: 5%;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px 1px 1px 0px;
  
}

/* Reaction button */
.reaction-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.reaction-boxes {
  display: flex;
}
.reaction-box1 {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 30px;
  margin-right: 5px;
}

.reaction-box2 {
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 30px;
  margin-right: 5px;
}

.reaction-box3 {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 30px;
  margin-right: 6px;
}
.reaction-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-direction: column;
  max-width: 500px;
}

/* .replyContainer {
    width: 100%; 
    max-width: 800px;
    margin: 0 auto; 
    margin:0
  } */
.announcement-box {
  border: 1px solid black ;
  margin-bottom: 10px;
  padding: 10px;
  background-color: whitesmoke;
}

.announcement-link {
  text-decoration: none;
  color: inherit;
}

.announcement-content {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.qa-box {
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  overflow-y: auto;
  max-height: 200px;
  width: 100%;
}

.qa-outerbox {
  display: block;
  flex-direction: column;
  align-items: left;
  padding-bottom: 5%;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: black;
  background-color: whitesmoke;
  overflow-y: scroll;
}
.courses-container {
  max-height: 600px;
  overflow-y: auto; 

  margin-right: 15%;
}
.classes-container {
  display: flex;
  flex-direction: column;
}

.courses-list {
  display: flex;
  flex-direction: column;
}

.course-box {
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 10000px; 
}


  