.classes-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100vh;
  padding-left: 20%;
  padding-top: 5%;
  float:left;
  background-color: lightgrey;
  border-style: solid;
  border-color:darkgrey;
}

.bigouterbox {
  display: inline-flex;
  flex-direction:row;
  align-items: left;
  justify-content: left;
  height: 90vh;
  width: 200vh;
  padding-left: 15%;
  padding-top: 3.5%;
  float:left;
  background-color: lightgrey;

  }
  
.border{
  background-color: lightgrey;
}

.borderPosts{
  background-color: grey;
  border-style: solid;
  border-color: lightgrey;
}
  
.QAbox{
background-color: white;
height: 100%;
width: 65vh;
float: left;
border-style: solid;

}

.postingInfo{
  background-color: lightgrey;
  height: 100%;
  width: 120vh;
  float:right;
}

.course-id-input,
.join-course-button,
.create-course-button {
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.postButton{
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  float: right;
  background-color: #115293;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5; /* light grey background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.TextField {
  margin-bottom: 20px !important; /* Important to override Material-UI styles */
}

.submit-button {
  margin-top: 20px;
  background-color: #1976d2; /* Material-UI primary blue */
  color: white;
  padding: 10px 15px;
}

.submit-button:hover {
  background-color: #115293;
}
