.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .about-me {
    text-align: center;
  }
  
  .about-me img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  