.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .about-me {
    text-align: center;
  }
  
  .about-me img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 50%;
  }
  